# Node
node_modules/
package-lock.json

# Builds
dist/
build/

# Env files (CRITICAL)
.env

# Firebase keys (CRITICAL)
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db